<article class="post">
  <div class="title">
  <h3>
    <a href="/post/{{id}}" class="title">{{title}}</a>
  </h3> 
  </div>
  {{#if loggedIn}}
    <div class="text">{{text}}
    </div>
   {{/if}}
  <div class="meta">
    Created by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>